# package directories
node_modules
jspm_packages

# Serverless directories
.serverless

# Test directories


env.json
src/mina/gastanks.ts
proof.json
output.txt
.DS_Store
.eslintrc.json
.yarn/
.yarnrc.yml
