{
    "TO": "", 
    "FROM": "",
    "LANG": "en",
    "DYNAMODB_TABLE": "",
    "TASKS_TABLE": "",
    "NAMES_TABLE": "",
    "POSTS_TABLE": "",
    "DOCS_TABLE": "",
    "BUCKET_NAME":  "",
    "BUCKET_VOICEIN":  "",
    "BUCKET_VOICEOUT":  "",
    "VOICE_PIPELINEID": "",
    "HISTORY_TABLE": "history",
    "HISTORY_HOURS": 24,
    "HISTORY_CHARS": 15000,
    "AWS_KMS_ENCRYPTION_KEY_ID":"",
    "INFURA_IPFS_API_KEY": "",
    "INFURA_IPFS_API_KEYSECRET": "",
    "INFURA_IPFS_API_ENDPOINT": "https://ipfs.infura.io:5001",
    "PINATA_JWT": "",
    "NFT_STORAGE_TOKEN":"",
    "BOT_TOKEN": "",
    "CHATGPT_TOKEN": "",
    "SLS_ORG_TOKEN": "",
    "SUPPORT_CHAT": "",
    "MINAURL": "https://proxy.berkeley.minaexplorer.com/graphql",
    "PRIVATEKEY": "",
    "PUBLICKEY": "",
    "MINAFEE": "0.1",
    "JWT_PRIVATEKEY": "",
    "BOTAPIAUTH": "",
    "STRIPE_KEY": "",
    "ALGOLIA_KEY": "",
    "ALGOLIA_PROJECT": "",
    "SMARTCONTRACT": "MinaNFT",
    "MINAEXPLORER": "https://berkeley.minaexplorer.com/wallet/",
    "INSURERPRIVATEKEY": "",
    "VERIFIERPRIVATEKEY": "",
    "GASTANKPRIVATEKEY": "",
    "CHATGPTPLUGINAUTH": "",
    "NFT_SECRET": "",
    "NFT_SALT": ""
}
